$background: #646770;

.container{
    background: $background;
    height: 100%;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas: 'aside header header'
    'aside main-container main-container'
    'downBar downBar downBar';
}